<div th:fragment="navBar">

    <!-- NAVBAR PARA LOS USUARIOS ADMINISTRADORES -->
    <div th:if="${usuario.isAdmin()}">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow p-3 mb-5 rounded"
             style="position: fixed; top: 30px; left: 50%; transform: translateX(-50%); width: 90%; z-index: 1000; background-color: rgba(0, 0, 0, 0.7);">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold fs-3 text-gradient" href="#">✨ Figuras Ocultas ✨</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/alumnos}">Alumnado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cartas}">Cartas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin}">Administradores</a>
                        </li>
                    </ul>
                    <span class="navbar-text text-white" th:text="'Hola, ' + ${usuario.nombre}"></span>
                </div>
            </div>
        </nav>
    </div>

</div>